.button {
  text-align: center;
  font-family: "Mark-Medium", Arial, Helvetica, sans-serif;
  color: $regularColor;
  background-color: $highlightColor;
  padding: 13px 0;
  width: 200px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s, color 0.15s;
  outline: none;

  &:hover {
    color: $highlightColor;
    background-color: $regularColor;
  }
}
