.more {
  height: 100%;
  background: $backgroundColor;
  text-align: center;

  &__heading {
    margin-bottom: 14px;
  }

  &__sub-heading {
    margin-bottom: 82px;
  }

  &__advantages {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  &__object {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__image {
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 17px;
  }

  @media (max-width: 799px) {
    & {
      padding-bottom: 50px;
    }

    &__advantages {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 40px 20px;
    }
  }

  @media (max-width: 699px) {
    & {
      text-align: left;
    }

    &__heading {
      margin-bottom: 10px;
    }

    &__sub-heading {
      margin-bottom: 30px;
    }

    &__advantages {
      grid-template-columns: 1fr;
      justify-items: center;
    }

    &__title {
      margin-bottom: 10px;
    }

    &__image {
      display: none;
    }
  }

}
